* {
  box-sizing: border-box;
  font-family: 'Anton', sans-serif;
}

body {
  height: 100vh;
  margin: 0; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #39A2D2;
}

header {
  font-size: 10vmin;
  letter-spacing: 1vmin;
  color: #FAEFFF;
  text-shadow: 1vmin 1vmin 5vmin black;
  margin-top: 5vmin;
}

#msg {
  color: #FAEFFF;
  text-shadow: 0.3vmin 0.3vmin 5vmin black;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 18vmin);
  grid-template-rows: repeat(3, 18vmin);
}

#board > div {
  border: 0.5vmin solid #062903;
  margin: 0.1vmin;
}

#board div:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in;
}

button {
  margin: 4vmin auto;
  background-color: #FAEFFF;
  color: #062903;
  font-size: 3vmin;
  border: none;
  padding: 2.5vmin;
  box-shadow: 0.3vmin 0.3vmin 5vmin black;
  border-radius: 1.5vmin;
}
