* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif; 
  background-color: darkgray;
}

header {
  font-size: 5vmin;
  letter-spacing: 1vmin;
  color: lightblue;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 10vmin);
  grid-template-rows: repeat(3, 10vmin);
}

#board > div {
  border: .04vmin solid grey;
}

#board div:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in;
}

button {
  margin-top: 6vmin;
}
